<?xml version="1.0" encoding="UTF-8"?>

<configuration>
 
    <property name="LOGS" value="./logs" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="DEBUG" />
    </logger>
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
 
    <appender name="FlixBusFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
         <param name="Append" value="false" />
        <file>${LOGS}/flixbus.log</file>
         <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/flix-bus-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
  
    <root level="error">
        <appender-ref ref="FlixBusFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="com.savarino" level="debug" additivity="false">
        <appender-ref ref="FlixBusFile" />
        <appender-ref ref="Console" />
    </logger>

 </configuration>
